fastapi
websockets
uvicorn
pyaudio
numpy==1.26.4
requests
mysql-connector-python
tiktoken
sounddevice
soundfile
silero-vad
onnxruntime
langchain
langchain-core
langgraph
langchain_ollama
aiomysql
httpx
aiohttp